@font-face {
    font-family: 'Norse';
    src: url('Norse-Bold.woff2') format('woff2'),
        url('Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
}
.container{
    display: flex;
}
.img-box{
    display: flex;
    background-image: url('jennifer-uppendahl-E39Ngkp6x_Q-unsplash.jpg');
    width: 70%;
    height: 900px;
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; 
}
.odin > img{
    margin: 8rem 0 0 4rem;
    width :30%;
    height: 130px;
}
.odin > span{
    color:white;
    font-size: 6rem;
    margin: 6rem 0 0 0;
    font-family:'Norse';
}

.form{
    display: flex;
    flex-direction: column; 
     
}
.head{
    justify-content: center;
    align-items: center;
    padding: 4rem 4rem 4rem 8rem;
    text-wrap: wrap;
    background-color: rgb(240,248,255);
    line-height: 1; 
}
.head > p{
    font-size: 20px;
    margin-top: 3rem;
    font-weight: bold;
}
.form-box{
    display: flex;
    flex-direction: column;
}
.form-box > h1{
    margin:1rem 0rem 0rem 8rem;
} 
.name{
    display: flex;
    justify-content: space-between;
    margin: 0 10rem 0 8rem;
}
.name-box{
    display: flex;
    justify-content: space-between;
    margin: 0 4rem 1.5rem 8rem;
}
.info{
    display: flex;
    justify-content: space-between;
    margin: 0 8rem 0 8rem;
}
.inform{
    display: flex;
    justify-content: space-between;
    margin: 0 4rem 1.5rem 8rem;
}
.pass{
    display: flex;
    justify-content: space-between;
    margin: 0 5.5rem 0 8rem;
}
.confirm{
    display: flex;
    justify-content: space-between;
    margin: 0 4rem 2rem 8rem;
}
.bottom{
    display:flex;
    background-color: rgb(240,248,255);
    flex-direction: column;
    height: 23.9rem;
}
.bottom > div{
    margin:2rem 0rem 0rem 8rem;
    padding-top: 2rem;
    
}
div > button{
    height: 2rem;
    width: auto;
    padding: 1rem;
    line-height: 1px;
    border-radius: 10px;
    background-color: #596D48;
}
.bottom > p{
    margin:2rem 0rem 0rem 8rem;
}